@using SETA.Core.Web
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @if (@ViewBag.PageTitle == null)
    {
        <title>@Html.Raw(ViewBag.Title)</title>
    }
    else
    {
        <title>Kết nối B2B - @Html.Raw(ViewBag.PageTitle)</title>
    }

    <!-- Bootstrap -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/Content/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/Content/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Scripts/plugins/iCheck/skins/flat/green.css" rel="stylesheet">
    <!--Alertify-->
    <link rel="stylesheet" href="/Scripts/plugins/alertifyjs/css/alertify.min.css"/>
    <!--Dropzone -->
    <link rel="stylesheet" href="/Scripts/plugins/dropzone/dist/dropzone.css" />

    @RenderSection("css", required: false)

    <!-- Custom Theme Style -->
    <link href="/Content/custom.min.css" rel="stylesheet">
    <link href="/Content/Site.css" rel="stylesheet" />

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="javascript:void(0)" class="site_title"><i class="fa fa-paw"></i> <span>Kết nối B2B!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="/img/picture.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Xin chào,</span>
                            <h2>ABC</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <h3>Quản lý chung</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="~/Dashboard"><i class="fa fa-home"></i> Trang chính <span class="fa fa-chevron-down"></span></a>
                                </li>
                            </ul>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-list"></i> Sản phẩm <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Product/Category">Danh mục</a></li>
                                        <li><a href="~/Product">Sản phẩm</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/img/picture.jpg" alt="">ABC
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Kết nối B2B
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js" language="javascript" type="text/javascript"></script>
    <!-- FastClick -->
    <script src="~/Scripts/plugins/fastclick/fastclick.js" language="javascript" type="text/javascript"></script>
    <!-- NProgress -->
    <script src="~/Scripts/plugins/nprogress/nprogress.js" language="javascript" type="text/javascript"></script>

    <script src="~/Scripts/plugins/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Scripts/plugins/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Scripts/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Scripts/plugins/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Scripts/plugins/Flot/jquery.flot.js"></script>
    <script src="~/Scripts/plugins/Flot/jquery.flot.pie.js"></script>
    <script src="~/Scripts/plugins/Flot/jquery.flot.time.js"></script>
    <script src="~/Scripts/plugins/Flot/jquery.flot.stack.js"></script>
    <script src="~/Scripts/plugins/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Scripts/plugins/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Scripts/plugins/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Scripts/plugins/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Scripts/plugins/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Scripts/plugins/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Scripts/plugins/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Scripts/plugins/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Scripts/plugins/moment/min/moment.min.js"></script>
    <script src="~/Scripts/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- iCheck -->
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Scripts/base/custom.min.js" language="javascript" type="text/javascript"></script>
    <script src="~/Scripts/plugins/blockUI/jquery.blockUI.js" language="javascript" type="text/javascript"></script>
    <script src="~/Scripts/plugins/alertifyjs/alertify.min.js"></script>
    <script src="~/Scripts/plugins/noty/jquery.noty.js"></script>
    <script src="//cdn.ckeditor.com/4.7.2/standard/ckeditor.js"></script>

    <!-- Dropzone.js -->
    <script src="~/Scripts/plugins/dropzone/dist/dropzone.js"></script>
    <!-- jquery.inputmask -->
    <script type="text/javascript" src="http://digitalbush.com/wp-content/uploads/2013/01/jquery.maskedinput-1.3.1.min_.js"></script>


@RenderSection("script", required: false)

    <script language="javascript">
        var pinJs = pinJs || {};
    </script>
    <script src="~/Scripts/base/pinJs.js" language="javascript" type="text/javascript"></script>
</body>
</html>
